.app-container {
  min-width: 700px;
}

.header {
  background-color: #5698FC;
  color: #ffffff;
  padding-bottom: 15px;
  border-bottom: 1px solid #000000;
}

.footer {
  background-color: #5698FC;
  color: #ffffff;
  padding-top: 15px;
  height: 60px;
  border-top: 1px solid #000000;
}

.main-container {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
}


.accordion {
  padding-top: 20px;
  width: 170px;
}

.content {
  padding-left: 3em;
  max-width: 600px;
}


@lightblue: #5698FC;
@headerfont: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;

body {
  background: #ffffff;
}

.menu {
  position: relative;
  background: #ffffff;
  width: 10em;
  overflow: hidden;
  padding-bottom: 2em;
}

.section {
  position: relative;
  width: 100%;
  border-bottom: 1px solid black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section.open {
  .article-wrap {
    max-height: 200px;
  }
}

.article-wrap {
  max-height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.section-head {
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-family: @headerfont;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.5em 2em 0.5em 0.5em;
}

.section-item, {
  font-family: @headerfont;
  color: black;
  cursor: pointer;
  background: white;
  padding: 0.2em 1em 0.4em;
  line-height: 100%;
}

.section-item.active, {
  background: @lightblue;
  color: white;
}

.menu-link,
.menu-link:hover,
.menu-link:active,
.menu-link:link,
.menu-link:visited {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-box {
  font-family: @headerfont;
  font-weight: 700;
  position: relative;
  width: 10em;
  overflow: hidden;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-header {
  padding-bottom: 0.5em;
}

.sidebar-link-item {
  color: black;
  cursor: pointer;
  padding: 0.2em 1em 0.4em;
  line-height: 100%;
  font-family: @headerfont;
  font-weight: 500;
}

.sidebar-link-item.active {
  color: #5698FC;
  font-weight: 600;
}

.sidebar-link-site:hover {
  color: #5698FC;
}